				@font-face {
					font-family: 'twist';
					src: url('../fonts/9385Twist.woff2') format('woff2'),
						url('../fonts/9385Twist.woff') format('woff');
					  font-display: auto;
				}

				.twist{font-family: 'twist' !important;}

						@font-face {
					font-family: 'phluff';
					src: url('../fonts/4967Phluff.woff2') format('woff2'),
						url('../fonts/4967Phluff.woff') format('woff');
					font-weight: 400; font-style: normal; font-display: auto;
				}

				.phluff{font-family: 'phluff' !important;}

						@font-face {
					font-family: 'phluff';
					src: url('../fonts/387Phluff.woff2') format('woff2'),
						url('../fonts/387Phluff.woff') format('woff');
					font-weight: 500; font-style: normal; font-display: auto;
				}

				.phluff{font-family: 'phluff' !important;}

		